.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: #f9f9f9;
}

.title h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.profile {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(214, 85, 85, 0.171);
}

.profile p {
    margin: 0;
}

.logOutBtn{
    border: 1px solid blues;
    background-color: white;
}